services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: sdos
      POSTGRES_USER: sdos
      POSTGRES_PASSWORD: sdos_dev
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
